.about h1{
    text-align: center;
    font-weight: 600;
    color: var(--mainColor);
    font-size: 40px;
    margin-top: 50px;
}
.about p{
    text-align: center;
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
}
.divider{
    margin: 0px;
    border-bottom: 20px solid var(--mainColor);
    opacity: 0.5;
}