/* pages styles to keep the project organized */
:root{
  --mainColor: orange;
  --greyback: #e7e7e7
}
*{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

*,:after,:before{box-sizing:border-box}
.container{
  margin-left: 40px;
  margin-right: 40px;
}
/* hero section */
#title{
  margin-top: 10vh;
  text-align: center;   
  font-weight: 600;
  color: var(--mainColor);
  font-size: 35px;
}
.hero{
  display: flex;
}
 .hero h1{
    margin-bottom: 30px;
    font-weight: 600;
}
 .hero button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
}
 .hero button span{
    font-weight: 400;
}
 .hero p{
    margin: 30px 30px 30px 0px;
   font-size: 20px;
   font-weight: 400;
}
.hero img{
  height: 250px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-side-hero{
  margin-top: 25vh;
  width: 60%;
}
.right-side-hero{
width: 40%;
margin-top: 19vh;
display: flex;
justify-content: center;
}
/* responsive design for hero sec */
@media only screen and (max-width: 1000px) {
  .right-side-hero{
    display: none;
  }
  .left-side-hero{
    width: 100%;
    margin-top: 10vh;
  }
  .hero p{
    margin: 30px 0px;
  }
  .hero h1{
    font-size: 25px;
  }
}

/* slider css */
.slider{
  margin-top: 60px;
  display: flex;
  justify-content: center;

}
.wrapper{
  display: flex;
  overflow-y: scroll;
  direction: rtl;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper img { 
  border-radius: 10px;
  height: 200px;
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
}
/* item in a slider */
 .item{
  margin-top: 50px;
  margin-bottom: 50px;
 }
 
 /* container style */
 .container h2{
   margin-top: 30px;
   font-size: 40px;
   font-weight: 500;
   text-align: center;
 }

/* styles for defult pages */
 .page h1{
  text-align: center;
  font-weight: 600;
  color: var(--mainColor);
  font-size: 40px;
  margin-top: 50px;
}
.page h2{
  text-align: center;
  font-weight: 600;
  color: var(--mainColor);
  font-size: 30px;
  margin-top: 50px;
}

.page p{
  text-align: center;
  margin: 40px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
  font-weight: 400;
}
/* about page divider */
.divider{
  margin: 0px;
  border-bottom: 20px solid var(--mainColor);
  opacity: 0.5;
}

/* my account page display products */

.product-wraper{
  max-width: 800px;
  margin: auto;
}


.posteditem{
  position: relative;
  height: 100%;
  background-color: #e7e7e7;
  padding: 10px;
  margin-top: 20px;
}
.posteditem h4{
  padding: 5px 0px;
  font-size: 15px;
  color: black;
}
.posteditem h1{
  padding: 5px 0px;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.posteditem .buttonsleft{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  padding-right: 10px;
}
.posteditem button{
  padding: 15px 45px;
  border-radius: 25px;
  background-color: var(--mainColor);
  font-size: 15px;
  font-weight: 400;
}
.posteditem button:hover{
  opacity: 0.7;
}


.product-wraper ul{
  list-style-type: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #e7e7e7;
}
.page .product-wraper ul{
  list-style-type: none;
  margin-top: 20px;
  background-color: var(--greyback);
}
.page .product-wraper ul li{
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid black;
}

.page .product-wraper ul li:nth-child(6){
  border-bottom: none;
}
.page .product-wraper ul li i{
  padding-right: 10px;
  text-align: left;
} 

/* responsive my account page display products */

@media only screen and (max-width: 800px) {
  .product-wraper{
    margin: 15px;
  }
  .posteditem{
    padding: 30px 10px;
  }
  .posteditem .buttonsleft{
    display: flex;
    flex-direction: column;
  }
  .posteditem button{
    margin-bottom: 5px;
    padding: 10px 30px;
  }
  .page p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .posteditem button{
    padding: 10px 20px;
  }
}
 /* edit account button styles */
.editsec{
  display: flex;
  justify-content: center;
  margin: 40px;
  color: var(--mainColor);
  align-items: center;
}
.editsec h2{
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
}
.editsec button{
  padding: 10px 25px;
  border-radius: 25px;
  background-color: var(--mainColor);
  font-size: 15px;
  font-weight: 400;
}

/* add item button styles */

.additem{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  left: 2%;
  bottom: 5%;
}
.additem button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border: none;
}
.additem i{
  font-size: 40px;
  color: var(--mainColor);
}

/* add item hover transitions */
.additem:hover{
  width: 100px;
  height: 100px;
  transition: all .4s ease;
-webkit-transition: all .4s ease;
}
.additem:hover i{
  font-size: 55px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
/* responsive container */
@media only screen and (max-width: 400px) {
  .container{
    margin-left: 10px;
    margin-right: 10px;
  }
}