
/* footer styles to keep the project organized */
:root{
    --mainColor: orange;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color:var(--mainColor);
    color: white;
  }

  .topnav .icon {
    display: none;
  }

@media screen and (max-width: 700px) {
    .topnav a {
      display: none ;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
}

.topnav .logo a {
    float: left;
    font-size: 40px;
    font-weight: 600;
    display: inline;
    margin-left: 40px;
    color: white;
    padding: 0px;
}
a .logo span{
    font-size: 40px;
    font-weight: 400;
}
