

/* form (signin signup forms) styles to keep the project organized */
.login-wrap{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  max-width:525px;
  min-height:600px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
.login-html{
  position: relative;
  width:100%;
  height:100%;
  position:absolute;
  padding: 30px 70px 50px 70px;
  background: var(--background);
}

.login-html i{
  font-size: 30px;
  color: BLACK;
  position: absolute;
  top: 5%;
  right: 5%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color: white;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:var(--input_text);
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background: var(--input);
}



.login-form .group .label{
  color:var(--labels);
  font-size:12px;
}
.login-form .group .button{
  background: var(--button);
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label .icon{
  background:#1161ee;
}

.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:20px 0 30px 0;
  background:rgba(255,255,255,.5);
}
.foot-lnk{
  text-align:center;
}

.button:hover {
    animation-name: opacity;
    animation-duration: 15s;
    animation-iteration-count: 1;
}

/* animation for buttons */
@keyframes opacity {
0% {opacity: 1;}
10% {opacity: 0.7;}
}

.input:invalid:required {
  background-image: linear-gradient(to right, #bcc5f7, #8d93b8);
  opacity: 60%;
}

.label:after {
  content:" *";
  color: red;

}

.group{
	position: relative;
}

.eye_icon { /*shoe password functionality*/
  position: absolute;
  z-index: 9999;
	top: 50%;
  transform: translate(-50%,-50%);
	right: 10px;
}
.eye_icon i{
  font-size: 20px;
}
.messages { /*alert messages for user*/
  color:red ;
  font-size: 10px;
  font-weight: lighter;
}

.icon{ /*checkbox*/
  outline: 1px solid black;
}
