
  /* form (contact, Edit account, add item forms) styles to keep the project organized */

  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}

   .additem-wrap{ /*just for add item form to create fixed popup*/
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    max-width:525px;
    min-height:600px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .additem-html{ /*just for add item form to center the close icon */
    position: relative;
    width:100%;
    height:100%;
    position:absolute;
    padding: 30px 70px 50px 70px;
    background: var(--background);
  }

  .additem-html i{ /*just for add item form close popup icon*/
    font-size: 30px;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .form-wrap{
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .form-html{
    width:100%;
    height:100%;
    position:absolute;
    padding: 50px 70px 50px 70px;
    background: var(--background);
  }

  .form-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }
  .form-html .sign-in,
  .form-html .sign-up,
  .form-form .group .check{
    display:none;
  }
  .form-html .tab,
  .form-form .group .label,
  .form-form .group .button{
    text-transform:uppercase;
  }
  .form-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .form-html .sign-in:checked + .tab,
  .form-html .sign-up:checked + .tab{
    color:#fff;
    border-color: white;
  }
  .form-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .form-form .group{
    margin-bottom:15px;
  }
  .form-form .group .label,
  .form-form .group .input,
  .form-form .group .button{
    width:100%;
    color:var(--input_text);
    display:block;
  }
  .form-form .group .input,
  .form-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background: var(--input);
  }

  .form-form .group .label{
    color:var(--labels);
    font-size:12px;
  }
  .form-form .group .button{
    background: var(--button);
  }

  .form-form .group label .icon:before,
  .form-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .form-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .form-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .form-form .group .check:checked + label{
    color:#fff;
  }
  .form-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .form-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .form-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }

  .foot-lnk{
    text-align:center;
  }

  .button:hover {
      animation-name: opacity;
      animation-duration: 15s;
      animation-iteration-count: 1;
  }

  /* animation for buttons */
  @keyframes opacity {
  0% {opacity: 1;}
  10% {opacity: 0.7;}
  }

  .input:invalid:required {
    background-image: linear-gradient(to right, #bcc5f7, #8d93b8);
    opacity: 60%;
  }

  .label:after {
    content:" *";
    color: red;

  }

  .group{
    position: relative;
  }

  .eye_icon { /*shoe password functionality*/
    position: absolute;
    z-index: 9999;
    top: 50%;
    right: 10px;
    height: 0px;
  }

  .messages {
    color:red ;
    font-size: 10px;
    font-weight: lighter;
  }

  .form-wrap h3 {
    font-size: 10px;
    font-weight: lighter;
  }

  #avail_date {
    text-align: left;
    margin-bottom: 2%;
  }

  #avail_time {
    text-align: left;
  }

  /* make the form styles responsive */
  @media only screen and (max-width: 550px) {
    .form-wrap{
      margin: 20px;
    }
    .form-html{
      padding: 20px 40px;
    }
  }