/* hero section */
#title{
  margin-top: 10vh;
  text-align: center;
  font-weight: 600;
  color: var(--mainColor);
  font-size: 35px;
}
.hero{
  display: flex;
  justify-content: center;
    max-width: 1400px;
    margin: auto;
}
 .hero h1{
    margin-bottom: 30px;
    font-weight: 600;
}
 .hero button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
}
 .hero button span{
    font-weight: 400;
}
 .hero p{
    margin: 30px 30px 30px 0px;
   font-size: 20px;
   font-weight: 400;
}
.hero img{
  height: 250px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-side-hero{
  margin-top: 25vh;
  width: 60%;
  margin-left: 30px;
}
.right-side-hero{
width: 40%;
margin-top: 19vh;
display: flex;
justify-content: center;
}
/* responsive design for hero sec */
@media only screen and (max-width: 1000px) {
  .right-side-hero{
    display: none;
  }
  .left-side-hero{
    width: 100%;
    margin-top: 10vh;
  }
  .hero p{
    margin: 30px 0px;
  }
  .hero h1{
    font-size: 25px;
  }
}

/* slider css */
.slider{
  margin-top: 60px;
  display: flex;
  justify-content: center;

}
.wrapper{
  display: flex;
  overflow-y: scroll;
  direction: rtl;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper img {
  border-radius: 10px;
  height: 200px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
/* item in a slider */
 .item{
  margin-top: 50px;
  margin-bottom: 50px;
 }

 /* container style */
 .container h2{
   margin-top: 30px;
   font-size: 40px;
   font-weight: 500;
   text-align: center;
 }


.item{
      direction: ltr;
  }
  .item h2, h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #333333;
    text-align: left;
  }

  .item h2 {
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
  }

  .item p, li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 22px;
  }

  .item ul{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }



  .item .cardContainer {
    width: 300px;
    height: 400px;
    min-width: 300px;
    min-height: 400px;
    perspective: 1000px;
  }

  .item .active {
    transform: translateZ(0px) rotateY(180deg) !important;
  }
  .item .active:after {
    display: none;
  }
  .item .card {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .item .card:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
  }

  .item .card:hover:after {
    opacity: 1;
  }
  .item .card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
  }
  .item .card .front {
    z-index: 2;
  }
  .item .card .back {
    transform: rotateY(180deg);
  }
  .item .card .info {
    padding: 16px;
  }

  .item .front img {
    background-color: #dadce2;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
  }

  .item .back {
    position: relative;
  }
  .item .back h2 {
    margin-top: 6px;
    margin-bottom: 18px;
  }
  .item .back li {
    line-height: 22px;
    margin: 5px;
    padding-left: 10px;
    border-bottom: 1px solid black;
  }
  .item .back .btn {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC324;
    background-image: linear-gradient(-90deg, #FFB714, #FFE579);
    border-radius: 5px;
    cursor: pointer;
  }
  .item .back .btn a{
    text-decoration: none;
  }
  .item .back .btn:hover h4 {
    transform: translateX(0px);
  }
  .item .back .btn:hover svg {
    transform: translateX(0px);
    opacity: 1;
  }
  .item .back .btn h4 {
    transform: translateX(12px);
    transition: transform 0.3s ease-out;
  }
  .item .back .btn svg {
    margin: 1px 0 0 4px;
    transform: translateX(-8px);
    opacity: 0;
    transition: all 0.3s ease-out;
  }