
<div class="page">
   <h1>About As</h1>
   <p>
      TromOti is an application that is a dedicated platform for donations to the needy persons. By the app, it is possible to connect the donors to the donors with a minimum of effort and makes it easier for both sides.
   </p>
   <p>
      We believe that we can create a new reality in the world of donations, where you can easily find potential donors and on the other hand organizations to which we would like to donate.
   </p>
   <p>
      Our uniqueness is the creation of a social trend that will bring into the public consciousness the importance of the issue and increase the percentage of donations. We strive to create a green social revolution, in which contributing will be "trendy". A revolution based on contributing to the community and making the environment greener. To promote the marketing goal we will use social media mainly.
   </p>
   <div class="divider"></div>
   <h1>Who we are?</h1>
   <p>
      We are students of industrial engineering and management at Ben Gurion University, characterize the requirements of the users of the information system. We believe that the challenge can be met both from the technological and practical and marketing aspects.
   </p>
   <p>
      Our vision is to create a social revolution in the field of donations and to involve as many people as possible in this revolution.
      By realizing the vision, we will create a new social norm in which customers will consume from a business owner who takes part in the donation process and it will be a reward for him. We will raise awareness that business owners who do not donate, create waste and do not help prevent the hunger cycle even though they can do so.
   </p>
</div>